body{
    margin: 0;
    text-align: center;
    background: #000;
}

#container{
    position: relative;
    margin: 0 auto;
    width: 320px;
    height: 346px;
}

#base{
    position: absolute;
    bottom: 0;
    left: 0;
}

canvas{
    background: url(../img/ball.png) no-repeat;
    width: 320px;
    height: 346px;
}
